<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

<!-- 配置自动扫描的包 -->
    <context:component-scan base-package="com.crowd.mvc"/>
    <!-- 配置 SpringMVC 的注解驱动 -->
    <mvc:annotation-driven/>
    <!-- 配置视图解析器 -->
    <bean id="resourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 处理异常 -->
    <!-- 配置基于 xml 的异常映射 -->
    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver"
          id="simpleMappingExceptionResolver">
        <!-- 配置异常类型和页面的对应关系 -->
        <property name="exceptionMappings">
            <props>
                <!-- key 指定异常的全类名 -->
                <!-- 标签体中写明对应的视图，会自动拼接前后缀 -->
                <prop key="java.lang.Exception">system-error</prop>
            </props>
        </property>
    </bean>
    <!-- 配置 view-controller, 直接关联请求地址和视图名称 -->
    <mvc:view-controller path="/admin/to/login/page.html" view-name="admin-login" />
    <mvc:view-controller path="/admin/to/main/page.html" view-name="admin-main"/>

    <!-- 配置拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <!-- 需要拦截的资源 -->
            <!-- /** 表示拦截多层路径 -->
            <mvc:mapping path="/**"/>
            <!-- 不拦截的资源 -->
            <mvc:exclude-mapping path="/admin/to/login/page.html"/>
            <mvc:exclude-mapping path="/admin/do/login.html"/>
            <mvc:exclude-mapping path="/admin/do/logout.html"/>
            <!-- 配置拦截器的类 -->
            <bean class="com.crowd.mvc.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>